@model ProductRepository.Models.Product

@{
    ViewData["Title"] = "DetailsByName";
}

<h1>Details</h1>

<div class="container my-3">
    <span class="row my-2 border">
        <div class="col-4 ">
            <img class="d-block w-75 border rounded-3" src="@Html.DisplayFor(model => model.Image_name)" alt="First slide">

        </div>
        <div class="col-8 ">
            <span><span class="font-weight-bold">Product Id :</span>  @Html.DisplayFor(model => model.ProductId)</span>
            <br />
            <span><span class="font-weight-bold">Product Name :</span> @Html.DisplayFor(model => model.ProductName) </span>
            <br />
            <span><span class="font-weight-bold">Description :</span>  @Html.DisplayFor(model => model.ProductDescription)</span>
            <br />
            <span><span class="font-weight-bold">Product Price :</span>  @Html.DisplayFor(model => model.Price)</span>
            <br />
            <span><span class="font-weight-bold">Rating : </span> @Html.DisplayFor(model => model.Rating)</span>
        </div>
    </span>

</div>


<div>
    <a class="btn btn-primary mx-2" href="@Url.Action("RatingsOfProduct", "ProductRating",new {proId=Model.ProductId })">Check Ratings Of this Product</a>

    <a class="btn btn-primary mx-2" href="@Url.Action("AddToCart", "Cart",new {ProductId=Model.ProductId })">Add To Cart!</a>
    @*@Html.ActionLink("AddToCart", "AddToCart","Cart",new { ProductId=Model.ProductId})*@
    <a asp-action="Index">Back to List</a>
</div>
